$lines = Get-Content .gitattributes
Set-Content -Path .gitattributes -Value $lines -Encoding UTF8
"Assets/TextMesh Pro/Fonts/*.asset" -merge
"Assets/TextMesh Pro/Fonts/**/*.asset" -merge
"Assets/TextMesh Pro/Resources/*.asset" -merge
"Assets/TextMesh Pro/Resources/**/*.asset" -merge
